.App {
    padding-top: 30px;
    width: 100vw;
    height: 100vh;
    background-color: #3D4849;
}

html body {
    overflow: hidden;
}
<<<<<<< HEAD

.viewer-card-panel {
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(6, 150px);
}

.main-page {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100vh;
}
=======
>>>>>>> 2af8af657a41031cd27b9e5212e85b1953db85ea
