.viewer-card {
    height: 95%;
    width: 95%;
    border: 1px black solid;
    border-radius: 2px;
    background-color: grey;
    display: grid;
    grid-template-rows: 25% 75%;
}

.card-top {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    border-bottom: 1px black solid;
}

.card-top-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top-flag {
    height: 100%;
    width: 100%;
}

.card-content-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-content {
    border-bottom: solid 1px black;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.card-content-text {
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.card-content:last-child {
    border: none;
}

.card-content-top, .card-content-bottom {
    background-color: #999999;
}

.card-content-middle {
    background-color: #828282;
}

.card-name h4 {
    font-size: 24px;
}

.card-followdays p {
    font-size: 12px;
}