.chat-box {
    margin-top: 25px;
    margin-left: 20px;
<<<<<<< HEAD
    width: 85%;
    height: 85%;
    background-color: grey;
    position: relative;
    border: 1px solid #66605f;
    border-radius: 4px;
=======
    width: 30%;
    height: 85%;
    background-color: grey;
    position: relative;
>>>>>>> 2af8af657a41031cd27b9e5212e85b1953db85ea
}

.chat-line {
    font-family: 'PT Sans', sans-serif;
    padding: 8px;
}

.scrollable-button {
<<<<<<< HEAD
    background-color: #928181;
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    border-radius: 4px;
    height: 25px;
}

.scrollable-button-clicked {
    background-color: #524A4A;
}

.scrollable-button-clicked:focus, .scrollable-button:focus {
    outline:none;
}

.chat-line-section {
    overflow-y: scroll;
    overflow-x: hidden;
=======
    position: absolute;
    right: 5px;
    top: 5px;
}

.chat-line-section {
    overflow: scroll;
>>>>>>> 2af8af657a41031cd27b9e5212e85b1953db85ea
    height: 100%;
}

.mod-badge {
    height: 14px;
    width: 14px;
}
<<<<<<< HEAD

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
=======
>>>>>>> 2af8af657a41031cd27b9e5212e85b1953db85ea
